@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-text;
}

@layer utilities {
	.activeLink {
		@apply text-white;
	}
	.activeLink:after {
		position: absolute;
		left: -2;
		content: '';
		@apply bg-primary w-2 h-7 rounded-full;
	}
	.hoverActive:hover {
		@apply text-white;
	}
	.hoverActive:after {
		position: absolute;
		left: -5;
		content: '';
		@apply bg-primary w-2 h-0 rounded-full duration-200 ease-in-out;
	}
	.hoverActive:hover:after {
		position: absolute;
		left: -2;
		content: '';
		@apply bg-primary w-2 h-7 rounded-full;
	}
}
